@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// Import other page stylings and variables from variables.scss
@import 'responsive.scss';
@import 'variables.scss';
@import 'pages/login.scss';
@import 'pages/dashboard.scss';
@import 'pages/auth.scss';
@import 'components/inputs.scss';
@import 'components/popups.scss';

html, body {
    min-height: 100vh !important;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--fg-color-text);
    font-family: 'Inter', sans-serif;
    transition: background-color .5s, color .5s;
    will-change: color, background-color;
    &.dark {
        --bg-color: #1d1d1d;
        --fg-color-text: #fffefc;
        --input-bg: #212121;
        --bg-color-secondary: #0e0e0e
    }
}

h1, h2,h3,h4,h5,h6, p {
    padding: 0;
    margin: 0;
}
div, section, input, header, button {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

// adds a consistent box shadow to all boxes
.container-shadow {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}