@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// Import other page stylings and variables from variables.scss
@import 'variables.scss';
@import 'pages/login.scss';
@import 'pages/dashboard.scss';
@import 'components/inputs.scss';

html, body {
    min-height: 100vh !important;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: $white;
    color: $dark;
    font-family: 'Inter', sans-serif;
}

h1, h2,h3,h4,h5,h6, p {
    padding: 0;
    margin: 0;
}
div, section, input, header, button {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

// adds a consistent box shadow to all boxes
.container-shadow {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}