$white: #fffefc;


.text-bold {
    font-weight: 700;
    background-color: rgba(153, 30, 38, 0.6);
}

:root {
    --grid-item-size: 300px;
    --bg-color: #fffefc;
    --fg-color-text: #111111;
    --summary-padding: 20px;
    --input-bg: #f3f3f4; // Primarily used for text inputs such as login and registration forms
    --bg-color-secondary: #d8d8d8;
    --placeholder-color-text: rgb(122, 122, 130);
    --color-medium-green: #2ed573;
    --color-light-green: #34e47d;
    --color-medium-red: #ff4757;
    --color-light-red: #ff6b81;
}