$white: #fffefc;
$dark: rgb(17, 17, 17);

$lightgray: #f3f3f4; // Primarily used for text inputs such as login and registration forms


.text-bold {
    font-weight: 700;
}

:root {
    --grid-item-size: 300px;
}