<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Planetary - Dashboard</title>
        <meta name="description" content="Planetary dashboard">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/feather-min.js"></script>
        <script type="module" src="js/client.js"></script>
    </head>
    <body>
        <!-- <p>{{ user | dump }}</p> -->
        <div class="dashboard">
            <header class="dashboard__header">
                <nav>
    
                </nav>
                <div class="dashboard__header__user">
                    <button class="generate-sharex-config btn-secondary">Generate shareX configfile</button>
                    <button class="testfetch">testbutton</button>
                    <span class="dashboard__header__user__name">{{ user.username }}</span>
                </div>
            </header>
            <section class="dashboard__content">
                
            </section>
            <script>
                document.querySelector(".testfetch").addEventListener("click", async () => {
                    console.log("test")
                    var response = await fetch("/uploads")
                    let data = await response.json()
                    console.log(data)
                    data = data.reverse()
                    data.forEach(element => {
                        console.log(element)
                    });
                }, false)
            </script>
        </div>
    </body>
</html>