<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Planetary - Dashboard</title>
        <meta name="description" content="Planetary dashboard">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <link rel="manifest" href="manifest.json">
        <script src="js/feather-min.js"></script>
        <script type="module" src="js/client.js"></script>
    </head>
    <body>
        <!-- <p>{{ user | dump }}</p> -->
        <div class="dashboard">
            <header class="dashboard__header">
                <nav>
    
                </nav>
                <div class="dashboard__header__user">
                    <button class="generate-sharex-config btn-secondary">Generate shareX configfile</button>
                    <span class="dashboard__header__user__name">{{ user.username }}</span>
                    <button class="toggle-colortheme"><i data-feather="moon"></i> <i data-feather="sun"></i></button>
                </div>
            </header>
            <section class="dashboard__filters">
                <div class="dashboard__filters__group">
                    <input class="input-file-search" type="text" placeholder="Enter keywords">
                    <button class="start-editor icon-btn"><i data-feather="edit-2"></i></button>
                    <span class="editor-controls">
                        <button class="submit-deletion icon-btn"><i data-feather="trash"></i></button>
                    </span>
                </div>


                <div class="dashboard__filters__group">
                    <div class="input-container"><label for="showFilenames" class="input-label">show info</label> <button id="showFilenames" class="check-box toggle-filter" data-value="showFilenames"></button></div>
                    <div class="input-container"><label for="hideDeleted" class="input-label">hide deleted</label> <button id="hideDeleted" class="check-box toggle-filter" data-value="hideDeleted" data-checked="true"></button></div>
                </div>
            </section>
            <section class="dashboard__content">
                
            </section>
            <script>
                feather.replace()
            </script>
        </div>
    </body>
</html>