<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "favicon_part.html" %}
        <link rel="stylesheet" href="css/style.css">
        <link rel="manifest" href="manifest.json">
        <script type="module" src="{{ jsPath }}"></script>
    </head>
    <body class="dark preload">
        <header class="page-header">
            <span class="is-online-check"></span>
            <nav>

            </nav>
            <div class="page-header__user">
                <button class="generate-sharex-config btn-secondary">.sxcu file</button>
                <span class="page-header__user__name">{{ user.username }}</span>
                <button class="page-header__user__logout btn-secondary">logout</button>
                <button class="toggle-colortheme dark" aria-label="Toggle color-theme"><span class="icon icon__moon"></span> <span class="icon icon__sun"></span></button>
            </div>
        </header>

        <div class="dashboard">
            <section class="dashboard__filters">
                <div class="dashboard__filters__group">
                    <button class="start-editor icon-btn icon-btn__edit" aria-label="Start editor"></button>
                    <span class="editor-controls">
                        <button class="submit-deletion icon-btn icon-btn__delete"></button>
                        <select class="editor-controls__album-select" id="">
                            <option value="" disabled selected>Choose album</option>
                            <option value="newalbum">Create new...</option>
                        </select>
                        <input class="editor-controls__album-name-input" type="text" placeholder="Album name">
                        <button class="editor-controls__submit-album icon-btn icon-btn__plus"></button>
                        <button class="editor-controls__add-selected-to-album btn btn-secondary">Add files to <span class="selected-album-name text--highlighted"></span></button>
                        <button class="editor-controls__remove-selected-from-album btn btn-secondary">Remove selected files</button>
                    </span>
                </div>


                <div class="dashboard__filters__group">
                    <span class="file-count-label text--secondary text--highlighted"></span>
                    <select class="album-filter__dropdown" id="">
                        <option value="" selected>Show all</option>
                    </select>
                    <div class="input-container"><button id="showFilenames" class="check-box toggle-filter" data-value="showFilenames" aria-label="Show file info"></button> <label for="showFilenames" class="input-label">show info</label></div>
                    <div class="input-container"><button id="hideDeleted" class="check-box toggle-filter" data-value="hideDeleted" data-checked="true" aria-label="Hide deleted files"></button> <label for="hideDeleted" class="input-label">hide deleted</label></div>
                </div>
            </section>
            <section class="dashboard__content"></section>
        </div>

        <form class="floating-wrapper" action="/uploadmultiple" method="POST" encType="multipart/form-data">
            <label for="uploadfile" class="icon-btn icon-btn__plus file-input-label"></label>
            <input class="file-input" id="uploadfile" type="file" multiple name="uploadfile">
            <input type="hidden" id="sharextoken" name="key" value="{{ user.sharextoken }}">
            <input type="hidden" id="filetype" name="type" value="file">
            <input class="btn confirm-action" type="submit" value="Upload">
        </form>
        <script src="js/registersw.js" async></script>
    </body>
</html>