<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "favicon_part.html" %}
        <link rel="stylesheet" href="../css/style.css">
        <style>
            body {
                display: grid;
                place-items: center;
                text-align: center;
            }
            h2 {
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <div>
            <h2>{{ message }} {{ filename }}</h2>
        </div>
    </body>
</html>