@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.text-bold {
  font-weight: 700;
  background-color: rgba(153, 30, 38, 0.6); }

:root {
  --grid-item-size: 300px;
  --bg-color: #fffefc;
  --fg-color-text: #111111;
  --summary-padding: 20px;
  --input-bg: #f3f3f4;
  --bg-color-secondary: #d8d8d8; }

.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 350px;
  border-radius: 4px;
  padding: 20px 30px; }
  .login-form-container__header {
    font-weight: 700;
    margin-bottom: 20px; }

.login-form {
  position: relative;
  width: 100%; }
  .login-form input {
    width: 100%;
    margin-bottom: 10px; }

.dashboard {
  width: 100%;
  height: 100%;
  padding: 50px; }
  .dashboard__header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .dashboard__header__user__name {
      font-weight: 700; }
  .dashboard__filters {
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
    .dashboard__filters__group {
      display: inline-flex;
      gap: 10px; }
    .dashboard__filters .editor-controls {
      display: none; }
  .dashboard__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--grid-item-size));
    grid-auto-rows: --grid-item-size;
    grid-gap: 10px;
    justify-content: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 50px 0; }
    .dashboard__content::-webkit-scrollbar {
      display: none; }

.thumbnail-container {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: box-shadow .2s; }
  .thumbnail-container:hover .thumbnail-container__child, .thumbnail-container.show-info .thumbnail-container__child {
    transform: scale(1.2); }
  .thumbnail-container:hover .thumbnail-container__summary, .thumbnail-container.show-info .thumbnail-container__summary {
    opacity: 1; }
    .thumbnail-container:hover .thumbnail-container__summary h3, .thumbnail-container:hover .thumbnail-container__summary span, .thumbnail-container.show-info .thumbnail-container__summary h3, .thumbnail-container.show-info .thumbnail-container__summary span {
      transform: translateX(0%); }
  .thumbnail-container::before {
    content: "";
    display: inline-block;
    padding-top: 100%;
    vertical-align: top; }
  .thumbnail-container__child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s;
    object-fit: cover;
    object-position: center; }
  .thumbnail-container__summary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(10, 10, 10, 0.6);
    transition: .5s;
    padding: var(--summary-padding);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #fff; }
    .thumbnail-container__summary h3, .thumbnail-container__summary span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transform: translateX(-100%);
      transition: .3s; }
    .thumbnail-container__summary h3 {
      transition-delay: .15s; }
    .thumbnail-container__summary span {
      transition-delay: .25s; }
    .thumbnail-container__summary .icon-container {
      position: absolute;
      display: inline-block;
      top: var(--summary-padding);
      left: var(--summary-padding);
      padding: 4px; }
      .thumbnail-container__summary .icon-container * {
        pointer-events: none; }
      .thumbnail-container__summary .icon-container svg {
        height: 24px;
        width: 24px; }
    .thumbnail-container__summary.clipboard-copied::before {
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 24px;
      z-index: 10;
      content: 'Copied to clipboard';
      display: grid;
      place-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(49, 231, 125, 0.75);
      opacity: 0;
      animation: animateClipboard 5s forwards;
      pointer-events: none; }
    .thumbnail-container__summary__actions {
      position: absolute;
      top: var(--summary-padding);
      right: var(--summary-padding);
      width: calc(100% - (var(--summary-padding) * 2 ));
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end; }
      .thumbnail-container__summary__actions .summary-action {
        margin-left: 5px; }
  .thumbnail-container__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }
  .thumbnail-container > .feather {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    color: #404040;
    transform: translate(-50%, -50%); }
  .thumbnail-container.selected {
    box-shadow: 0 0 0 4px rgba(49, 231, 125, 0.75); }

@keyframes animateClipboard {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.audio-progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transform-origin: left;
  transition: .35s linear; }

.dashboard__content.small {
  --grid-item-size: 150px; }
  .dashboard__content.small .dashboard {
    padding: 50px 20px; }
.dashboard__content.medium {
  --grid-item-size: 220px;
  --summary-padding: 15px; }
  .dashboard__content.medium .dashboard {
    padding: 50px 20px; }

@media (max-width: 768px) {
  body {
    --grid-item-size: 150px; }
    body .dashboard {
      padding: 50px 20px; } }
@media (min-width: 768px) and (max-width: 1280px) {
  body {
    --grid-item-size: 220px;
    --summary-padding: 15px; }
    body .dashboard {
      padding: 50px 20px; } }
input:focus, button:focus {
  outline: none; }

button, .btn {
  border: 0;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 14px;
  transition: .2s;
  cursor: pointer; }
  button.confirm-action, .btn.confirm-action {
    background-color: #2ed573;
    color: #fffefc; }
    button.confirm-action:hover, .btn.confirm-action:hover {
      background-color: #34e47d; }
  button.btn-danger, .btn.btn-danger {
    background-color: #ff4757;
    color: #fffefc; }
    button.btn-danger:hover, .btn.btn-danger:hover {
      background-color: #ff6b81; }
  button.btn-secondary, .btn.btn-secondary {
    background-color: none;
    color: #5a5a5a; }
    button.btn-secondary:hover, .btn.btn-secondary:hover {
      color: #787878; }

input[type=text], input[type=password] {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: var(--fg-color-text);
  border: 0;
  background-color: var(--input-bg);
  padding: 6px 12px;
  border-radius: 3px;
  transition: .2s; }
  input[type=text]::-webkit-input-placeholder, input[type=text]::-moz-placeholder, input[type=text]:-ms-input-placeholder, input[type=text]:-moz-placeholder, input[type=password]::-webkit-input-placeholder, input[type=password]::-moz-placeholder, input[type=password]:-ms-input-placeholder, input[type=password]:-moz-placeholder {
    background-color: #7a7a82; }

.toggle-colortheme {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  width: 29px;
  overflow: hidden;
  white-space: nowrap; }
  .toggle-colortheme:hover svg.feather-sun {
    filter: drop-shadow(0 0 4px #ffecbf); }
  .toggle-colortheme:hover svg.feather-moon {
    filter: drop-shadow(0 0 4px #66757F); }
  .toggle-colortheme svg {
    width: 29px;
    height: 29px;
    transition: .2s;
    transition: .5s ease; }
    .toggle-colortheme svg.feather-sun {
      color: #ffecbf;
      transform-origin: -1.5px center;
      filter: drop-shadow(0 0 2px #ffecbf); }
    .toggle-colortheme svg.feather-moon {
      color: #66757F;
      fill: #66757F;
      transform-origin: right center;
      filter: drop-shadow(0 0 2px #66757F); }
  .toggle-colortheme.dark svg {
    transform: rotate(180deg); }

button.check-box {
  box-sizing: border-box;
  padding: unset;
  background-color: rgba(10, 10, 10, 0.6);
  padding: 4px;
  height: 32px;
  width: 32px;
  transition: .2s;
  margin: 0 5px;
  display: inline-block;
  border-radius: 3px; }
  button.check-box[data-checked="true"] {
    background-color: rgba(140, 140, 140, 0.6);
    background-color: #3742fa; }
  button.check-box * {
    pointer-events: none; }
  button.check-box svg {
    width: 24px;
    height: 24px;
    color: #e6e6e6; }
  button.check-box:hover {
    background-color: rgba(100, 100, 100, 0.6); }

.input-label {
  color: #5a5a5a;
  transition: .2s;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  cursor: pointer; }
  .input-label:hover {
    color: #787878; }

.input-container {
  display: inline-flex; }

.summary-action, .icon-btn {
  box-sizing: border-box;
  border-radius: 3px;
  padding: unset;
  background-color: rgba(10, 10, 10, 0.6);
  padding: 4px;
  max-height: 32px;
  max-width: 32px;
  transition: .2s; }
  .summary-action *, .icon-btn * {
    pointer-events: none; }
  .summary-action svg, .icon-btn svg {
    width: 24px;
    height: 24px;
    color: #e6e6e6; }
  .summary-action:hover, .icon-btn:hover {
    background-color: rgba(100, 100, 100, 0.6); }
  .summary-action.selected, .icon-btn.selected {
    background-color: rgba(49, 231, 125, 0.75); }

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 50px;
  background-color: var(--bg-color-secondary);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: .2s; }
  .popup-container__header {
    color: var(--fg-color-text); }

html, body {
  min-height: 100vh !important;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--fg-color-text);
  font-family: 'Inter', sans-serif;
  transition: background-color .5s, color .5s; }
  body.dark {
    --bg-color: #1d1d1d;
    --fg-color-text: #fffefc;
    --input-bg: #212121;
    --bg-color-secondary: #0e0e0e; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

div, section, input, header, button {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container-shadow {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=style.css.map */
