/*
Error: Undefined mixin 'small'.
        on line 224 of scss/pages/dashboard.scss, in `small'
        from line 224 of scss/pages/dashboard.scss

219:             padding: 50px 20px;
220:         }
221:     }
222: }
223: 
224: @include small {
225:     body {
226:         --grid-item-size: 150px;
227:         .dashboard {
228:             padding: 50px 20px;
229:         }

Backtrace:
scss/pages/dashboard.scss:224:in `small'
scss/pages/dashboard.scss:224
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:331:in `block in visit_mixin'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/stack.rb:98:in `block in with_mixin'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/stack.rb:98:in `with_mixin'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:329:in `visit_mixin'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:151:in `visit'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:208:in `each'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:464:in `on_file_changed'
/var/lib/gems/2.7.0/gems/sass-3.4.0/lib/sass/plugin/compiler.rb:324:in `block in watch'
/var/lib/gems/2.7.0/gems/sass-3.4.0/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/var/lib/gems/2.7.0/gems/sass-3.4.0/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/var/lib/gems/2.7.0/gems/sass-3.4.0/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/var/lib/gems/2.7.0/gems/sass-3.4.0/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'small'.\A         on line 224 of scss/pages/dashboard.scss, in `small'\A         from line 224 of scss/pages/dashboard.scss\A \A 219:             padding: 50px 20px;\A 220:         }\A 221:     }\A 222: }\A 223: \A 224: @include small {\A 225:     body {\A 226:         --grid-item-size: 150px;\A 227:         .dashboard {\A 228:             padding: 50px 20px;\A 229:         }"; }
