// Style for login, register page


.form-response-info {
    display: inline-block;
    transform: translateY(0px);
    overflow-x: hidden;
    width: 0;
    white-space: nowrap;
    opacity: 0;
    transition: .5s;
    font-size: 14px;
    font-weight: 700;
    color: var(--placeholder-color-text);
    &.success {
        color: var(--color-medium-green);
    }
    &.fail {
        color: var(--color-medium-red);
    }
    &.success, &.fail {
        opacity: 1;
        transform: translateY(10px);
        width: 100%;
    }
}