.dashboard {
    width: 100%;
    height: 100%;
    padding: 50px;
    &__header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        &__user {
            &__name {
                font-weight: 700;
            }
        }
    }
    &__filters {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        // flex-wrap: ;
        &__group {
            display: inline-flex;
            gap: 10px; // ! VERY new property, won't work on a lot of browsers
        }
        .editor-controls {
            display: none;
        }
    }
    &__content {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, var(--grid-item-size)); // TODO: Make the 200px a css variable to easily be able to change the grid-item size for different media queries
        grid-auto-rows: --grid-item-size;
        grid-gap: 10px;
        justify-content: center; // Equal spacing on either side of the grid
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        padding: 50px 0;
    }
}

.thumbnail-container {
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.4);
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    transition: box-shadow .2s;
    $self: &;
    &:hover, &.show-info { // If filter showFilenames (show-info) is set, or on hover
        #{$self}__child {
            transform: scale(1.2);
        }
        #{$self}__summary {
            opacity: 1;
            h3, span {
                transform: translateX(0%);
            }
        }
    }
    &::before {
        content: "";
        display: inline-block;
        padding-top: 100%;
        vertical-align: top;
    }
    &__child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s;
        object-fit: cover;
        object-position: center;
    }

    &__summary {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(10, 10, 10, 0.6);
        transition: .5s;
        padding: var(--summary-padding);
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        flex-wrap: nowrap;
        color: #fff;
        h3, span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transform: translateX(-100%);
            transition: .3s;
        }
        h3 { transition-delay: .15s; }
        span { transition-delay: .25s; }

        .icon-container {
            position: absolute;
            display: inline-block;
            top: var(--summary-padding);
            left: var(--summary-padding);
            padding: 4px;
            * {
                pointer-events: none;
            }
            svg {
                height: 24px;
                width: 24px;
            }
        }

        $self: &;
        &.clipboard-copied {
            &::before {
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 24px;
                z-index: 10;
                content: 'Copied to clipboard';
                display: grid;
                place-items: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(49, 231, 125, 0.75);
                opacity: 0;
                animation: animateClipboard 5s forwards;
                pointer-events: none;
            }
        }

        &__actions {
            position: absolute;
            top: var(--summary-padding);
            right: var(--summary-padding);
            width: calc(100% - (var(--summary-padding) * 2 )); // Width minus padding on either sides
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            .summary-action {
                margin-left: 5px;
            }
        }
    }
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    & > .feather {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        color: rgb(64,64,64);
        transform: translate(-50%, -50%);
    }

    &.selected { // thumbnail-container is selected in the editor
        box-shadow: 0 0 0 4px rgba(49, 231, 125, 0.75);
    }
}

@keyframes animateClipboard {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.audio-progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transform-origin: left;
    transition: .35s linear;
}

.dashboard__content {
    &.small {
        --grid-item-size: 150px;
        .dashboard {
            padding: 50px 20px;
        }
    }
    &.medium {
        --grid-item-size: 220px;
        --summary-padding: 15px;
        .dashboard {
            padding: 50px 20px;
        }
    }
}

@include small {
    body {
        --grid-item-size: 150px;
        .dashboard {
            padding: 50px 20px;
        }
    }
}

@include medium {
    body {
        --grid-item-size: 220px;
        --summary-padding: 15px;
        .dashboard {
            padding: 50px 20px;
        }
    }
}