@import '../responsive.scss';
.page-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px;
    top: 0;
    z-index: 1;
    background-color: var(--bg-color);
    transition: background-color .5s, color .5s;
    &__user {
        display: inline-flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
        &__name {
            font-weight: 700;
        }
    }
}
.dashboard {
    position: relative;
    top: 72px;
    width: 100%;
    padding: 20px;
    &__albums {
        position: relative;
    }
    &__filters {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        align-items: center;
        @include small {
            &#{&} {
                $filters: &;
                padding: 0 20px;
                flex-wrap: wrap;
            }
            &__group {
                min-width: 100%;
                padding: 5px 0;
            }
        }
        &__group {
            display: inline-flex;
            gap: 10px; // * New property
            align-items: center;
        }
        .editor-controls {
            display: none;
            gap: 10px;
            &__album-name-input {
                max-width: 180px;
                @include small {
                    max-width: 100%;
                    flex: 1 1 auto;
                }
            }
            &__album-name-input, &__submit-album, &__add-selected-to-album, &__remove-selected-from-album {
                display: none;
            }
        }
    }
    &__content {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, var(--grid-item-size));
        grid-auto-rows: var(--grid-item-size);
        grid-gap: 10px;
        justify-content: center; // Equal spacing on either side of the grid
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        padding: 10px 0;
        @include small {
            &#{&} {
                grid-gap: 7.5px;
            }
        }
        &:empty { // When there's no content, show a message
            height: 100%;
            position: absolute;
            width: calc(100% - 40px);
            place-items: center;
            grid-template-columns: 1fr;
            &:before {
                font-weight: 700;
                content: "It's empty :(\00000agrab your .sxcu file in the top right\00000aand add import it into ShareX";
                white-space: pre;
                text-align: center;
                color: var(--placeholder-color-text);
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2vw;
            }
        }
    }
}

.thumbnail-container { // Thumbnail container styling
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.4);
    overflow: hidden;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    * {
        user-select: none;
    }
    $self: &;
    &:hover, &.show-info { // If filter showFilenames (show-info) is set, or on hover
        #{$self}__child {
            transform: scale(1.2);
        }
        #{$self}__summary {
            opacity: 1;
            h3, span {
                transform: translateX(0%);
            }
        }
    }
    &::before { // Always be square
        content: "";
        display: inline-block;
        padding-top: 100%;
        vertical-align: top;
    }
    &__child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .5s;
        // transition: none !important;
        object-fit: cover;
        object-position: center;
    }
    .icon-bg { // Play background for sound thumbnails
        background: url("../svg/play.svg") no-repeat center;
        background-size: 50%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: rgb(64,64,64);
        filter: invert(25%)
    }
    @include small { // Don't show summary on mobile
        #{$self}__summary {
            display: none;
        }
    }
    &__summary { // Cover that shows when hovered over thumbnail
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(10, 10, 10, 0.6);
        transition: opacity .5s;
        padding: var(--summary-padding);
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        flex-wrap: nowrap;
        color: #fff;
        h3, span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transform: translateX(-100%);
            transition: transform .3s;
        }
        h3 { transition-delay: .15s; }
        span { transition-delay: .25s; }
        &.type { // ? Set filetype icon in the top-left of the summary using pseudo element
            &::before {
                content: "";
                position: absolute;
                top: calc(var(--summary-padding) + 4px); // Add 4px of "padding"
                left: calc(var(--summary-padding) + 4px);
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-position: 0 0;
                filter: invert(1);
            }
            &__image {
                &::before {
                    background: url("../svg/image.svg");
                }
            }
            &__video {
                &::before {
                    background: url("../svg/film.svg");
                }
            }
            &__sound {
                &::before {
                    background: url("../svg/music.svg");
                }
            }
            &__file {
                &::before {
                    background: url("../svg/file.svg");
                }
            }
            &__edit {
                &::before {
                    background: url("../svg/edit-2.svg");
                }
            }
        }
        .icon-container {
            position: absolute;
            display: inline-block;
            top: var(--summary-padding);
            left: var(--summary-padding);
            padding: 4px;
            * {
                pointer-events: none;
            }
            svg {
                height: 24px;
                width: 24px;
            }
        }

        $self: &;
        &.clipboard-copied {
            &::before {
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 24px;
                z-index: 10;
                content: 'Copied to clipboard';
                display: grid;
                place-items: center;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(49, 231, 125, 0.75) !important;
                background-repeat: no-repeat !important;
                filter: none !important;
                opacity: 0;
                animation: animateClipboard 5s forwards;
                pointer-events: none;
            }
        }

        &__actions {
            position: absolute;
            top: var(--summary-padding);
            right: var(--summary-padding);
            width: calc(100% - (var(--summary-padding) * 2 )); // Width minus padding on either sides
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            .icon-btn {
                margin-left: 5px;
            }
        }
    }
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &.selected { // thumbnail-container is selected in the editor
        box-shadow: 0 0 0 4px rgba(49, 231, 125, 0.75);
    }
}

@keyframes animateClipboard {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.audio-progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transform-origin: left;
    transition: .35s linear;
}

// .dashboard__content {
//     &.small {
//         --grid-item-size: 150px;
//         .dashboard {
//             padding: 50px 20px;
//         }
//     }
//     &.medium {
//         --grid-item-size: 220px;
//         --summary-padding: 15px;
//         .dashboard {
//             padding: 50px 20px;
//         }
//     }
// }

@include small {
    body {
        --grid-item-size: 80px;
        .dashboard {
            padding: 20px 10px;
        }
    }
}

@include medium {
    body {
        --grid-item-size: 180px;
        --summary-padding: 15px;
        .dashboard {
            padding: 20px;
        }
    }
}

.floating-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: var(--summary-padding);
    bottom: var(--summary-padding);
    gap: 5px;
    .file-input-label {
        cursor: pointer;
        display: inline-block;
    }
    .file-input {
        z-index: -1;
        max-width: 0.1px;
        max-height: 0.1px;
        overflow: hidden;
        opacity: 0;
    }
}