// Default homepage style

.homepage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
    min-height: 100%;
    height: auto !important;
    height: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn {
            font-size: 16px;
        }
    }
    &__footer {
        align-self: flex-end;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        &__links {
            list-style: none;
            &__link {
                margin-right: 10px;
                display: inline-block;
                &:last-of-type {
                    margin-right: unset;
                }
            }
        }
    }
    &__content {
        margin-top: 50px;
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0 auto;
        padding: 50px 0;
        width: 100%;
        max-width: 800px;
        video {
            margin: 10px 0;
            border-radius: 3px;
        }
    }
}