// This file contains styling for buttons and form inputs

input:focus, button:focus { // Prevent outline on input selection
    outline: none;
}

button, .btn { // General button styling
    border: 0;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 14px; // Might chang eback to 16 in the future
    transition: .2s;
    cursor: pointer;

    &.confirm-action { // Also used for login, etc
        background-color: #2ed573;
        color: $white;
        &:hover {
            background-color: #34e47d;
        }
    }
    // &.confirm-action { // user for things 
    //     background-color: #2ed573;
    //     color: $white;
    //     &:hover {
    //         background-color: #34e47d;
    //     }
    // }
    &.btn-danger { // used for deletion and other irreversable actions
        background-color: #ff4757;
        color: $white;
        &:hover {
            background-color: #ff6b81;
        }
    }
    &.btn-secondary {
        background-color: none;
        color: rgb(90, 90, 90);
        &:hover {
            color: rgb(120, 120, 120);
        }
    }
}

input[type=text], input[type=password] {
    font-family: 'Inter', sans-serif;
    font-weight: 700;

    color: $dark;
    border: 0;
    background-color: $lightgray;
    padding: 6px 12px;
    border-radius: 3px;
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
        background-color: rgb(122, 122, 130);
    }
}

.toggle-colortheme {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    width: 29px;
    overflow: hidden;
    white-space: nowrap;
    svg {
        width: 29px;
        height: 29px;
        &.feather-sun {
            color: #ffecbf;
            transform-origin: -1.5px center;
            filter: drop-shadow(0 0 2px #ffecbf);
        }
        &.feather-moon {
            color: #66757F;
            fill: #66757F;
            transform-origin: right center;
            filter: drop-shadow(0 0 2px #66757F);
        }
        transition: .5s ease;
    }
    &.dark {
        svg {
            transform: rotate(180deg);
        }
    }
}