.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 50px;
    background-color: var(--bg-color-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: .2s;
    &__header {
        color: var(--fg-color-text);
    }
}